/* Put your style information here! */
/* Book Antiqua */
@font-face {
    font-family: 'Book Antiqua';
    src: url('./fonts/book-antiqua.ttf') format('ttf');
}

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}


main {
    font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 30px 100px 0 100px;
    background-color: white;
    min-height: 100vh;
}

h1 {
    font-size: 2vw !important;
    margin-right: 5px;
}

h3 {
    font-size: 1.75vw !important;
}

h5 {
    font-size: 1.4vw !important;
    margin-bottom: 1vw !important;
    color: #332e30;
}

p {
    margin-bottom: 1vw !important;
    font-size: 1.2vw !important;
}

.section {
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1vw;
}

.section-button {
    border: 3px solid rgb(205, 180, 190);
    background-color: white;
    color: black;
    margin-top: 0.5vw;
    margin-right: 2vw;
    padding: 0.5vw;
    border-radius: 0.8vw;
    font-size: 1vw;
}

.section {
    margin-top: 2.5vw;
}

.section-button:hover {
    color: white;
    background-color: rgba(205, 180, 190, 0.8);
}

.usability-container {
    display: flex;
}

.usability-column {
    flex: 50%;
    flex-direction: column;
    margin-right: 0 !important;
}

.usability-img {
    width: 95%;
    height: auto;
}

.acc-img {
    width: 90%;
    height: auto;
}

.original-website {
    width: 90%;
    height: auto;
}

.wireframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-bottom: 10px;
}

.row {
    display: flex;
    align-items: stretch;
}

.column {
    flex: 50%;
    padding: 8px;
}


.proto-column {
    flex: 33.33%;
    padding: 4px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 6%;
    z-index: 99;
    font-size: 2vw;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  .guide {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
      border: 3px solid #cdb4be;
  }

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

@media only screen and (min-width: 640px) and (max-width: 870px) {
    main {
        font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: white;
        min-height: 100vh;
    }

    .section-button {        
        font-size: 8px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 640px) {
    main {
        font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
        margin: 0 auto;
        padding: 30px 30px 0 30px;
        background-color: white;
        min-height: 100vh;
    }

    .section-button {        
        font-size: 5px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
    main {
        font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
        margin: 0 auto;
        padding: 30px 20px 0 20px;
        background-color: white;
        min-height: 100vh;
    }

    .section-button {        
        font-size: 3.5px;
    }
}

@media only screen and (max-width: 320px) {
    main {
        font-family: "Book Antiqua", Arial, Helvetica, sans-serif;
        margin: 0 auto;
        padding: 30px 20px 0 20px;
        background-color: white;
        min-height: 100vh;
    }

    .section-button {        
        font-size: 3px;
    }

}

