/* Put your style information here! */
/* piazzolla-regular - latin */
@font-face {
    font-family: 'Piazzolla';
    font-style: normal;
    font-weight: 400;
    src: local('Piazzolla'),
         url('./fonts/piazzolla-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/piazzolla-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}


main {
    font-family: "Piazzolla", sans-serif;
    margin: 0 auto;
    padding: 30px 140px 0 140px;
    background-color: white;
    max-width: 2400px;
    min-height: 100vh;
}

h1 {
    font-size: 1.2em;
    font-weight: 700;
    display: inline;
    margin-right: 5px;
}

h2 {
    margin-top:50px;
    font-size:1.5em;
}

p {
    line-height: 1.5em;
    display: block;
}

.intro {
    color: darkslategray;
}

.section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-head {
    background-color: #fdf0f2;
    padding: 3px;
}

.oven {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%
}    

.flex-container{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.personas {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.storyboard{
    width: 100%;
    max-width: 400px;
    height: auto;
}

footer{
    text-align: right;
    margin-top: 80px;
    padding-bottom: 20px;
    color: darkgrey
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main {
        margin: 0;
        padding: 5px 10px 0 10px;
        background-color: white;
        max-width: 2400px;
        min-height: 100vh;
    }
    .personas {
        width: 100%;
        height: auto;
    }
    .storyboard {
        width: 100%;
        height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1000px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .personas {
        width: 100%;
        max-width: 750px;
        height: auto;
    }
    .storyboard {
        width: 100%;
        max-width: 750px;
        height: auto;
    }
}
  
.accent{
    color: skyblue;
}