@font-face {
    font-family: 'Copperplate Gothic Bold Regular';
    src: url('./fonts/Copperplate\ Gothic\ Bold\ Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

* {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

main {
    margin: 0 auto;
    padding: 15px 10% 0 10%;
    background-color: white;
    min-height: 100vh;
    font-family: 'Copperplate Gothic Bold Regular';
}

.signature-fluid {
    padding: 0;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.nav-link {
    font-weight: bold;
    font-size: 1.2vw;
    height: auto;
    text-align: center;
    padding: 0;
}

.nav-brand{
    display: none;
}

.nav-logo {
    width: 200px;
    height: 70px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}

.menu-buttons-container {
    position: relative;
}

.menu-buttons-container img {
    width: 100%;
    height: auto;
}

.menu-buttons-container .menu-buttons {
    position: absolute;
    justify-content: center;
    align-items: flex-end;
    display: flex;
    bottom: 0.7%;
    left: 20%;
    right: 20%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bar-button {
    width: 30%;
    background-color: #8b3422;
    color:white;
    font-size: 1.2vw;
    cursor: pointer;
    padding: 2px 2px;
    margin-right: 10px;
}

.bar-button:hover{
    background-color: #E2D9C5;
    color: black;
}

.lunch-button {
    width: 20%;
    background-color: #ab5235;
    color:black;
    font-size: 1.2vw;
    cursor: pointer;
    padding: 2px 2px;
    margin-right: 10px;
}

.lunch-button:hover{
    background-color: #E2D9C5;
}

.monthly-lunch {
    width: 100%;
    height: auto;
}

.dinner-button {
    width: 20%;
    background-color:#dbab85;
    color:black;
    font-size: 1.2vw;
    cursor: pointer;
    padding: 2px 2px;
    margin-right: 10px;
}

.dinner-button:hover{
    background-color: #E2D9C5;
}

.desserts-button {
    width: 40%;
    background-color: black;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
    padding: 2px 2px;
}

.desserts-button:hover{
    background-color: lightgrey;
    color: black;
}

.section {
    margin-top: 0px;
    margin-bottom: 0px;
}

.favorite-section {
    background-color: #e2d9c5;
    padding: 3em;
    margin-bottom:0.25em;
}

.favorite-text {
    color: #8b3422;
    font-size: 3.5vw;
}

.bar-section {
    background-color: #8b3422;
    padding: 3em;
    margin-bottom:0.25em;
}

.bar-section-text {
    color: white;
    font-size: 3.5vw;
    margin-bottom: 0;
}

.bar-flex-container{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    text-align: center;
}

.bar-image{
    width: 100%;
    height: auto;
    margin-bottom: 0.25em;
}

.lunch-section {
    background-color: #ab5235;
    padding: 3em;
    margin-bottom:0.25em;
}

.lunch-text {
    color: white;
    font-size: 3.5vw;
    margin-bottom: 0;
}

.carousel-inner {
    margin-bottom: 0.25em;
}

.dinner-section {
    background-color: #dbab85;
    padding: 3em;
    margin-bottom:0.25em;
}

.dinner-text {
    color: black;
    font-size: 3.5vw;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }
  
.column {
    padding: 5px;
    position: relative;
  }

  .signature {
      display: block;
      width: 100%;
      height: auto;
  }

  .column:hover .overlay {
      opacity: 0.85;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
  }

  .text {
    color: black;
    font-size: 1.4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: darkgrey;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

  .menu-footer {
      margin-top: 4vh;
      margin-bottom: 4vh;
      align-items: center;
  }

  .footer-row {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
  }
  
  .footer-column {
    width: 33.33%;
    padding: 5px;
  }

  .footer-column .footer-buttons {
    justify-content: center;
    align-items: flex-end;
    display: flex;
    bottom: 0.7%;
    left: 20%;
    right: 20%;
    }

  .reserve-button {
    background-color: black;
    color:white;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 1px 1px;
    margin-right: 5%;
}

.reserve-button:hover{
    background-color: lightgrey;
    color: black;
}

.order-button {
    background-color: #6f7714;
    color:white;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 1px 1px;
}

.order-button:hover{
    background-color: lightgrey;
    color: black;
}

.contact {
    margin-bottom: 0.25em;
    font-size: 1.5vw;
}

.google-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.google-links .review {
    width: 70%;
    height: 20%;
}

.award1 {
    border-radius: 25px;
    padding: 5px; 
    width: 100%;
    height: 40%;  
    background: #dbab85;
    text-align: center;
    margin-bottom: 0.2em;
    font-size: 1.5vw;
}

.award2 {
    border-radius: 25px;
    padding: 5px; 
    width: 100%;
    height: 40%;  
    background: #e2d9c5;
    text-align: center;
    font-size: 1.5vw;
}

footer {
    text-align:center;
    background-color: #e2d9c5;
    color: black;
    padding: 3px;
    margin-bottom: 0;
  }

  .hours-text {
    font-size: 1.5vw;
}

.menu-note {
    font-size: 1.5vw;
}

.footer-title {
    font-size: 2vw;
}

.footer-text {
    font-size: 2vw;
}

.fa {
    font-size: 2em;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
}

@media only screen and (max-width: 320px) {
    main {
        margin: 0;
        padding: 5px 10px 0 10px;
        background-color: white;
        min-height: 100vh;
    }

    .flex-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar-toggler-icon {
        width: 15px !important;
        height: 15px !important;
    }

    .navbar-toggler {
        padding: 0.1rem 0.3rem !important;
    }

    .nav-link {
        font-size: 7px;
    }

    .nav-brand {
        display: inline;
    }

    .nav-logo {
        display: none;
    }

    .nav-brand img{
        width: 100px;
        height: 40px;
    }

    .text {
        font-size: 3vw;
    }

    .favorite-section,
    .bar-section,
    .lunch-section,
    .dinner-section {
        padding: 1em;
        margin-bottom: 0.1em;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 600px) {
    .flex-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        margin: 0;
        padding: 5px 10px 0 10px;
        background-color: white;
        min-height: 100vh;
    }

    .nav-brand {
        display: inline;
    }

    .nav-logo {
        display: none;
    }

    .nav-brand img{
        width: 100px;
        height: 40px;
    }

    .nav-link {
        font-size: 10px;
    }

    .favorite-section,
    .bar-section,
    .lunch-section,
    .dinner-section {
        padding: 1.5em;
        margin-bottom: 0.1em;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 10px;
        border: none;
        outline: none;
        background-color: darkgrey;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

      .text {
        color: black;
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .google-links .review {
          width: 60%;
          height: auto;
      }

       .award1 {
        display: inline;
        border-radius: 25px;
        padding: 5px; 
        width: 100%;
        height: 40%;  
        background: #dbab85 50%;
        margin-bottom: 0.2em;
        font-size: 2.3vw;
    }
    
    .award2 {
        display: inline;
        border-radius: 25px;
        padding: 5px; 
        width: 100%;
        height: 40%;  
        background: #e2d9c5;
        margin-bottom: 0.2em;
        font-size: 2.3vw;
    } 
    
    .contact,
    .hours-text {
        font-size: 3vw;
    }

    .footer-title {
        font-size: 4vw;
    }

    .reserve-button, 
    .order-button {
        font-size: 2.8vw;
    }

    .menu-note {
        font-size: 3vw;
    }

    .favorite-text,
    .bar-section-text,
    .lunch-text,
    .dinner-text {
        font-size: 5vw; 
    }

    .bar-button, 
    .lunch-button,
    .dinner-button,
    .desserts-button {
        font-size: 1.5vw;
    }

    .footer-text {
        font-size: 3vw;
    }

    .fa {
        font-size: 1em;
    }
}

/* Devices from 600px to 991.5px*/
@media only screen and (min-width: 600px) and (max-width: 991.5px) {
    .nav-link {
        font-weight: bold;
        font-size: 2vw;
        height: auto;
        text-align: center;
        padding: 2px;
    }
    .nav-brand {
        display: inline;
    }

    .nav-logo {
        display: none;
    }

    .nav-brand img{
        width: 120px;
        height: 40px;
    }

    .text {
        font-size: 2vw;
    }
    
    .reserve-button {
        background-color: black;
        color:white;
        font-size: 1.3vw;
        cursor: pointer;
        padding: 1px 1px;
        margin-right: 5%;
    }
    
    .order-button {
        background-color: #6f7714;
        color:white;
        font-size: 1.3vw;
        cursor: pointer;
        padding: 1px 1px;
    }

    .fa {
        font-size: 1.5em;
    }
}

/* Medium devices (991.5px to 1199.5px) */
@media only screen and (min-width: 991.5px) and (max-width: 1199.5px) {
    .nav-logo {
        width: 120px;
        height: 60px;
    }

    .nav-link {
        font-size: 1.5vw;

    }

    .flex-container{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .text {
        color: black;
        font-size: 2vw;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
}

@media only screen and (min-width: 1500px) and (max-width: 3000px) {
    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 5%;
        z-index: 99;
        font-size: 30px;
        border: none;
        outline: none;
        background-color: darkgrey;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

      .favorite-section,
      .bar-section,
      .lunch-section,
      .dinner-section {
          padding: 6em;
      }

      .carousel-control-next-icon,
      .carousel-control-prev-icon {
          width: 60px !important;
          height: 60px !important;
      }
}

/* extremely large screens */
@media only screen and (min-width: 3000px) {
    .nav-link {
        font-size: 1.3vw;
    }

    .nav-logo {
        width: 250px;
        height: 100px;
    }

    .bar-button {
        width: 30%;
        background-color: #8b3422;
        color:white;
        font-size: 50px;
        cursor: pointer;
        padding: 2px 2px;
        margin-right: 10px;
    }
    
    .lunch-button {
        width: 20%;
        background-color: #ab5235;
        color:black;
        font-size: 50px;
        cursor: pointer;
        padding: 2px 2px;
        margin-right: 10px;
    }
    
    .dinner-button {
        width: 20%;
        background-color:#dbab85;
        color:black;
        font-size: 50px;
        cursor: pointer;
        padding: 2px 2px;
        margin-right: 10px;
    }
    
    .desserts-button {
        width: 40%;
        background-color: black;
        color: white;
        font-size: 50px;
        cursor: pointer;
        padding: 2px 2px;
    }
    
  
    .reserve-button {
        background-color: black;
        color:white;
        font-size: 32px;
        cursor: pointer;
        padding: 1px 1px;
        margin-right: 5%;
    }
    
    .order-button {
        background-color: #6f7714;
        color:white;
        font-size: 32px;
        cursor: pointer;
        padding: 1px 1px;
    }

    .favorite-section,
    .bar-section,
    .lunch-section,
    .dinner-section {
        padding: 10em;
    }

    #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 5%;
        z-index: 99;
        font-size: 30px;
        border: none;
        outline: none;
        background-color: darkgrey;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

    .award1 { 
        border-radius: 25px;
        padding: 5px; 
        width: 100%;
        height: 40%;  
        background: #dbab85 50%;
        margin-bottom: 0.2em;
        font-size: 30px;
    }
    
    .award2 {
        border-radius: 25px;
        padding: 5px; 
        width: 100%;
        height: 40%;  
        background: #e2d9c5;
        margin-bottom: 0.2em;
        font-size: 30px;
    } 

    .contact {
        font-size: 2vw;
    }

    .hours-text {
        font-size: 2vw;
    }

    .footer-title {
        font-size: 2.2vw;
    }

    .favorite-text,
    .bar-section-text,
    .lunch-text,
    .dinner-text {
        font-size: 2.5vw; 
    }

    .award1,
    .award2 {
        font-size: 2vw;
    }

    .footer-text {
        font-size: 2vw;
    }

    .fa {
        font-size: 4em;
    }

    .text {
        font-size: 1.5vw;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 90px !important;
        height: 90px !important;
    }

    .menu-note {
        font-size: 1.8vw;
    }
}